# Ficheiros de dependências do Python
venv/
__pycache__/

# Ficheiros de configuração local e sensíveis
.env
serviceAccountKey.json
public/js/firebase-init.js

# Ficheiros do sistema operativo
.DS_Store
Thumbs.db
